input,
select,
button {
  border: 0 !important;
}

button {
  background-color: #f7941d !important;
  padding: 10px 20px !important;
}
.row {
  border: 1px solid #c8c2c2 !important;
}
select {
  width: 100%;
}

@media (min-width: 450px) and (max-width: 768px) {
  .small {
    flex-direction: column !important;
  }

  img {
    padding-bottom: 10px;
  }
  /* button {
    padding: 10px 15px !important;
  } */
}

@media screen and (max-width: 450px) {
  .small {
    flex-direction: column !important;
  }
  input,
  select {
    font-size: 10px !important;
  }
  input,
  button,
  .col-6,
  .col-2 {
    padding: 0 !important;
  }
  img {
    padding-bottom: 10px;
  }
  button {
    padding: 10px !important;
    margin-left: 20px !important;
  }
}
